*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-tap-highlight-color transparent 
  box-sizing border-box
html,body,h1,h2,h3,h4,h5,div,p,ul,ol,dl,dt,dd,fieldset,img,q,sub,sup,em,form,table,tr,td 
  margin 0
  padding 0
  list-style none
  font-style normal
  font-weight normal
  border 0 none
html
  text-size-adjust none
  user-select none
  overflow-x hidden
  box-sizing border-box
.my-gallery
  display none
body, html
  height 100%
  width 100%
  line-height 1
  font-weight 200
  font-family "microsoft yahei",HelveticaNeue,sans-serif
@media(min-width: 1920px)
  html
    font-size 1px
  #app.ignore
    width 1920px
    margin 0 auto
@media(min-width: 1440px) and (max-width: 1919px)
  html
    font-size 0.75px
  #app.ignore
    width 1440px
    margin 0 auto
@media(min-width: 1280px) and (max-width: 1439px)
  html
    font-size 0.67px
  #app.ignore
    width 1280px
    margin 0 auto
@media(min-width: 1000px) and (max-width: 1279px)
  html
    font-size 0.52px
    #app.ignore
      width 1000px
      margin 0 auto
select, input[type="text"],input[type="submit"],input[type="reset"],input[type="button"],input 
  -webkit-appearance none
  border 0
  background none
    

inputfocus, textareafocus 
  outline none
  
ul,ol,li 
  list-style none
  
table,tr,th,td 
  border-collapse collapse
  border 0
  border-spacing 0
    
img 
  border 0
  vertical-align middle
  content: normal !important;
  
a 
  text-decoration none
  color#000
  
.float_l 
   float left
   
.float_r 
   float right
   
.text_area 
   resize none
   
.dis_none 
   display none
   
.clear 
   clear both
   
.bg_white 
  background#fff
  
button 
  border none

:placeholder  
   /* Mozilla Firefox 4 to 18 */
  color #aaa


input:input-placeholder 
  
  color #aaa

.block
  padding-left 361rem
  padding-top 99rem
  .title
    font-size 40rem
    line-height 56rem
    color #e6e6e7
    font-weight bold
    position relative
    padding-top 13rem
    margin-bottom 70rem
    &:before
      content ''
      position absolute
      left 0
      top 0
      width 80rem
      height 6rem
      font-size 0
      background linear-gradient(324deg, #FF6622 0%, #F8B144 100%)  
    &:after
      content ''
      position absolute
      left 0
      bottom 0
      margin-bottom -14rem
      line-height 50rem
      font-size 35rem
      color #515151
      font-weight bold
@media(max-width: 999px)
  .block
    padding-left 16px
    padding-top 30px
    .title
      font-size 20px
      line-height 28px
      padding-top 13px
      margin-bottom 34px
      &:before
        content ''
        position absolute
        left 0
        top 0
        width 72px
        height 3px
        font-size 0
        background linear-gradient(324deg, #FF6622 0%, #F8B144 100%)  
      &:after
        content ''
        position absolute
        left 0
        bottom 0
        margin-bottom -9px
        line-height 25px
        font-size 18px
        color #515151
        font-weight bold
.clearfix
  // display inline-block
  &:after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visibility hidden
 
[aspectratio] 
  position relative
  
[aspectratio]:before 
  content ''
  display block
  width 1px
  margin-left -1px
  height 0
  
[aspectratio-content] 
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%

[v-cloak]
  display none
