/*border 1px*/
inner-style(radius,scaleRatio,x) 
  border-radius radius*scaleRatio*1px
  transform x+'('+(1/scaleRatio)+')'
  width 100%*scaleRatio
  height 100%*scaleRatio   
border-1px(face,args...)
  $color=args[0]
  radius=args[1]||0
  face==top    && (l=left  t=top b=-top w=width  x=scale m=-1)
  face==bottom && (l=left  b=-bottom t=bottom w=width  x=scale m=0)
  face==left   && (l=left  t=top b=-left  w=height x=scale m=-1)
  face==right  && (l=right t=top b=-right   w=height x=scale m=0)
  face==all  && (l=right t=top b=null   w=height x=scale m=-1)
  position relative
  &:after 
    content ''
    position absolute
    top 0
    left 0
    box-sizing border-box
    transform-origin left top
    border{b} 1px solid $color
    @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
      scaleRatio=1.5
      inner-style(radius,scaleRatio,x)
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
      scaleRatio=2
      inner-style(radius,scaleRatio,x) 
      /*margin-top m*0.5px
      margin-left m*0.5px*/  
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      scaleRatio=3
      inner-style(radius,scaleRatio,x)
      /*margin-top m*0.33px
      margin-left m*0.33px*/ 

/*border none*/
border-none()
  &:after
    display: none
/*横纵比，需要纵向高度布局时用*/
aspect-ratio(aaa) 
  &[aspectratio]
    aspect-ratio aaa
    

/*背景图片 根据分辨路加载不同倍图*/
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

