.win-title
  font-size 32px
  font-weight bold
  font-family PingFangSC-Medium, PingFang SC
  color #393D46
  text-align center
  line-height 45px
  margin-bottom 47px
  span
    position relative
    &:after
      border-radius 8px
      content ""
      position absolute
      right -60px
      top 14px
      height 16px
      width 45px
      background linear-gradient(90deg, rgba(255, 145, 34, 0.7) 0%, rgba(255, 145, 34, 0) 100%)
    &:before
      border-radius 8px
      content ""
      position absolute
      left -60px
      top 14px
      height 16px
      width 45px
      background linear-gradient(270deg, rgba(255, 145, 34, 0.7) 0%, rgba(255, 145, 34, 0) 100%)